
.Button {
    border: none;
    padding: 10px 20px;
    background-color: rgb(125, 165, 224);
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all .2s;
    margin-right: 15px;
}
.Button:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .13);
}

.Button:focus {
    outline: none;
}

.Button:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.Button:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}

.error {
    background: rgba(240, 87, 108, 1);
}

.success {
    background: rgb(20, 180, 105);
}

.primary {
    background: #2884f6;
    background: rgb(125, 165, 224);
    color: #fff;
}